{{> header title="Главная"}}

<section class="section section-showcase" id="about">
	<div class="showcase">
		<div class="showcase__content">
			<div class="showcase__container container">
				<div class="showcase__body">
					<h1 class="showcase__title">PROдвижение это</h1>
					<div class="showcase__text-wrap">
						<p>Комплексное продвижение вашего бизнеса. Мы не продаем процесс, а продаем результат. Сделаем сайт, настроим рекламу и приведем покупателей - это все что получает наш каждый клиент.</p>
					</div>
					<div class="showcase__btns">
						<button type="button" class="showcase__btn btn btn-accent" data-micromodal-trigger="modal-callback">Получить клиентов</button>
						<a href="#pricing" class="showcase__btn btn btn-white">Стоимость услуг</a>
					</div>
				</div>
			</div>
		</div>
		<div class="showcase__img">
			<img src="assets/img/content/laptop.jpeg" alt="alt" class="img-responsive">
		</div>
	</div>
</section>

<section class="section section-benefits" style="background-image: url(assets/img/content/bg_benefits.jpeg);" id="benefits">
	<div class="container">

		<div class="headline-wrap row">
			<div class="headline headline_inverse col-xl-8">
				<h2 class="headline__title section-title">Преимущества</h2>
				<div class="headline__description section-description">
					<p>Наша компания оказывает качественные услуги по продвижению вашего бизнеса</p>
				</div>
			</div>
		</div>

		<div class="benefits row">
			<div class="benefits__item item-benefit col-xl-4 col-md-6">
				<div class="item-benefit__icon">
					<img src="assets/img/icons/books.svg" alt="alt" class="item-benefit__icon-img">
				</div>
				<h3 class="item-benefit__title">Погружение в ваш бизнес</h3>
				<div class="item-benefit__text-wrap">
					<p>Команда, которая полностью вовлечена в ваш проект. Мы тщательно готовимся к работе с каждым клиентом и гарантируем результат</p>
				</div>
			</div>
			<div class="benefits__item item-benefit col-xl-4 col-md-6">
				<div class="item-benefit__icon">
					<img src="assets/img/icons/calculator.svg" alt="alt" class="item-benefit__icon-img">
				</div>
				<h3 class="item-benefit__title">Гарантия</h3>
				<div class="item-benefit__text-wrap">
					<p>Мы даем гарантию, что комплекс наших услуг приведет вам желаемый результат, если этого не будет мы вернем вам все ваши деньги.</p>
				</div>
			</div>
			<div class="benefits__item item-benefit col-xl-4 col-md-6">
				<div class="item-benefit__icon">
					<img src="assets/img/icons/speed.svg" alt="alt" class="item-benefit__icon-img">
				</div>
				<h3 class="item-benefit__title">Скорость</h3>
				<div class="item-benefit__text-wrap">
					<p>Слаженность работы нашей команды не заставляет вас ждать. Выполнение работ может быть законечно ранее поставленных сроков.</p>
				</div>
			</div>
			<div class="benefits__item item-benefit col-xl-4 col-md-6">
				<div class="item-benefit__icon">
					<img src="assets/img/icons/check_circle.svg" alt="alt" class="item-benefit__icon-img">
				</div>
				<h3 class="item-benefit__title">Комплекс работ</h3>
				<div class="item-benefit__text-wrap">
					<p>Вам не нужно волноваться о том кто будет делать сайт или настраивать рекламу, кто будет подбирать дизайн или проводить аналитику. Все сделаем мы.</p>
				</div>
			</div>
			<div class="benefits__item item-benefit col-xl-4 col-md-6">
				<div class="item-benefit__icon">
					<img src="assets/img/icons/help.svg" alt="alt" class="item-benefit__icon-img">
				</div>
				<h3 class="item-benefit__title">Тех. поддрежка</h3>
				<div class="item-benefit__text-wrap">
					<p>Мы 24/7 оказываем тех. поддержку каждому клиенту с момента нашего сотрудничества.</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section section-steps">
	<div class="container">

		<div class="headline-wrap row">
			<div class="headline col-xl-8">
				<h2 class="headline__title section-title">Этапы работы</h2>
				<div class="headline__description section-description">
					<p>Как мы работаем?</p>
				</div>
			</div>
		</div>

		<div class="timeline row">
			<div class="timeline__items col-xl-8">
				<div class="timeline__item">
					<div class="timeline__content">
						<h4 class="timeline__title">Анализируем ваш бизнес</h4>
						<p class="timeline__text">Анализируем рынок, конкурентов, предложения.</p>
					</div>
					<div class="timeline__icon-wrap">
						<div class="timeline__icon">
							<img src="assets/img/icons/chart.svg" alt="alt" class="timeline__icon-img">
						</div>
					</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__content">
						<h4 class="timeline__title">Создаем & Настраиваем веб-сайт и соц. сети</h4>
						<p class="timeline__text">Создаем новый или настраиваем уже существующий веб-сайт и соц.сети под конкретные задачи для продвижения.</p>
					</div>
					<div class="timeline__icon-wrap">
						<div class="timeline__icon">
							<img src="assets/img/icons/brackets.svg" alt="alt" class="timeline__icon-img">
						</div>
					</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__content">
						<h4 class="timeline__title">Реклама</h4>
						<p class="timeline__text">Придаем сайт и соц. сети огласке. Настраиваем в контекстную рекламу в Google, Facebook, Instagram, TikTok.</p>
					</div>
					<div class="timeline__icon-wrap">
						<div class="timeline__icon">
							<img src="assets/img/icons/speaker.svg" alt="alt" class="timeline__icon-img">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section section-pricing" style="background-image: url(assets/img/content/bg_pricing.jpeg);" id="pricing">
	<div class="container">

		<div class="headline-wrap row">
			<div class="headline headline_inverse col-xl-8">
				<h2 class="headline__title section-title section-title_sm">Стоимость наших услуг</h2>
				<div class="headline__description section-description">
					<p>Внимательно ознакомьтесь со стоимостью наших услуг и<br> выберите подходящий пакет.</p>
				</div>
			</div>
		</div>

		<div class="services row">
			<div class="services__item item-service col-md-6">
				<div class="item-service__inner">
					<div class="item-service__header">
						<h3 class="item-service__name">Одностраничный сайт</h3>
						<div class="item-service__prices">
							<p class="item-service__price"><span>120$</span>- Готовый или индивидуальный дизайн сайта</p>
						</div>
						<h4 class="item-service__title">Подходит для новичков.</h4>
					</div>
					<div class="item-service__body">
						<ul class="item-service__list list-checks">
							<li>Сайт по готовому шаблону</li>
							<li>Индивидуальный подход к дизайну сайта</li>
							<li>Домен бесплатно</li>
							<li>Хостинг бесплатно</li>
							<li>Тех. поддержка 24/7</li>
						</ul>
						<a href="#" class="item-service__btn btn btn-sm btn-accent">Выбрать</a>
					</div>
				</div>
			</div>
			<div class="services__item item-service item-service_secondary col-md-6">
				<div class="item-service__inner">
					<div class="item-service__header">
						<h3 class="item-service__name">Продвижение через Instagram</h3>
						<h4 class="item-service__title">100$</h4>
					</div>
					<div class="item-service__body">
						<ul class="item-service__list list-checks">
							<li class="no-check">Создание рекламного кабинета</li>
							<li>Установка и настройка Facebook Pixel</li>
							<li>Подтверждение <i>домена</i> в рекламном кабинете</li>
							<li>Отрисовка креативов 3 шт.</li>
							<li>Настройка двух аудиторий таргетинга</li>
							<li>Сопровождение 7 дней</li>
						</ul>
						<a href="#" class="item-service__btn btn btn-sm btn-accent">Действие</a>
					</div>
				</div>
			</div>
			<div class="services__item item-service col-md-6">
				<div class="item-service__inner">
					<div class="item-service__header">
						<h3 class="item-service__name">Корпоративный сайт</h3>
						<div class="item-service__prices">
							<p class="item-service__price"><span>120$</span> - Готовый дизайн от нас</p>
							<p class="item-service__price"><span>270$ | 370$</span> - Индивидуальный дизайн</p>
						</div>
					</div>
					<div class="item-service__body">
						<ul class="item-service__list list-checks">
							<li>Сайт по готовому шаблону</li>
							<li>Индивидуальный подход к дизайну сайта</li>
							<li>Домен бесплатно</li>
							<li>Хостинг бесплатно</li>
							<li>Тех. поддержка 24/7</li>
						</ul>
						<a href="#" class="item-service__btn btn btn-sm btn-accent">Выбрать</a>
					</div>
				</div>
			</div>
			<div class="services__item item-service col-md-6">
				<div class="item-service__inner">
					<div class="item-service__header">
						<h3 class="item-service__name">Интернет магазин</h3>
						<div class="item-service__prices">
							<p class="item-service__price"><span>320$</span> - Готовый дизайн от нас</p>
							<p class="item-service__price"><span>420$</span> - Индивидуальный дизайн</p>
						</div>
					</div>
					<div class="item-service__body">
						<ul class="item-service__list list-checks">
							<li>Сайт по готовому шаблону</li>
							<li>Индивидуальный подход к дизайну сайта</li>
							<li>Домен бесплатно</li>
							<li>Хостинг бесплатно</li>
							<li>Тех. поддержка 24/7</li>
						</ul>
						<a href="#" class="item-service__btn btn btn-sm btn-accent">Выбрать</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

{{> footer }}